/*.modal {
  max-height: 80%;
  width:80%;
  height:80%;
}
*/

#videoModal {
	width: 100%;
}

#closeVideoModal {
	z-index: 1003;
}

.video-controlls {
	z-index: 1003;	
}

li.episode{
	font-weight: bold;
	color: #FFF;
}


li.serie {
	font-weight: bold;
}



/*********************
  Customizando inputs
**********************/

/* label color */
.input-field label {
	color: #fff;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label   {
 color: #fff;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus   {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}

/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=password].valid   {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}

/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=password].invalid   {
 border-bottom: 1px solid #ef5350;
 box-shadow: 0 1px 0 0 #ef5350;
}

/* border color */
.input-field input[type=text],.input-field input[type=email],.input-field input[type=password] {
	border-color: #fff;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #FFF;
}







span.created {
    font-size: 0.85em;
    font-weight: normal;
}

.row.episode-row {
	margin-bottom: 0px;
}

html {
    height: 100%;
}

body {
	height: 100%;
}

body.bi-color {
    height: 100%;
    background: linear-gradient(90deg, #FFF 50%, #1E88E5 50%);
}



.container-valign, .container-valign div {
	height: 100%;
}


.container-valign * {
	width: 100%;
}


.container-valign .right {
	text-align: right;
    left: 50%;
    position: relative;
}


.custom-button {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
	
	width: auto;
}




.row.full-row, .row.full-row div {
	height: 100%;
} 

.full-row * {
	vertical-align: middle;
	display: table-cell;
}




/*********************
  Media Query Classes
**********************/

@media only screen and (max-width: 992px) {
  body {
  	height: auto;
  }
}



.overflow-hidden {
	overflow: hidden;
}

.login-form {
	padding: 10px !important;
	border-radius: 10px;
}


.login-form-container {
	overflow: hidden;
}

