/*.modal {
  max-height: 80%;
  width:80%;
  height:80%;
}

.modal video.responsive-video {
	width: 80%;
}*/

#closeVideoModal {
	z-index: 1003;
}

li.episode{
	font-weight: bold;
	color: #FFF;
}


li.serie {
	font-weight: bold;
}


.input-field label {
	color: #FFF;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #FFF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #FFF;
 	box-shadow: 0 1px 0 0 #FFF;
}

.input-field input[type=text] {
	border-color: #FFF;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #FFF;
}