
<div ng-controller="videoSpiderController" >

    <div class="container">

      <div class="row">
        <div class="col s12 center">
          <div class="input-field col s12 m6 offset-m3 white-text">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate" ng-model="search.title">
            <label for="icon_prefix">Filtrar</label>
          </div>
        </div>
      </div>
      
      <ul class="collapsible" data-collapsible="accordion" >
        <li ng-repeat="spider in spiders | filter:search" class="serie">
          
          <div class="collapsible-header blue-text text-darken-1">
            <i class="material-icons">list</i>
            {{spider.title}}
            <span class="right created" ng-class="spider.has_new ? 'hide-on-small-only' : ''">
              {{spider.created}}
            </span>
          </div>

          <div class="collapsible-body">

            <div class="row">
              <div class="col s12 center">
                <div class="input-field col s12 m6 white-text">
                  <i class="material-icons prefix">search</i>
                  <input id="icon_prefix" type="text" class="validate" ng-model="search_ep.title">
                  <label for="icon_prefix">Filtrar</label>
                </div>
              </div>
            </div>

            <ul class="collection" >
              <li class="collection-item episode blue-text text-darken-1" ng-repeat='ep in spider.data | filter:search_ep' ng-click="open_video_modal(ep)">
                <div class="row episode-row">                
                  <div class="col s10">
                    {{ep.title}}
                  </div>
                  <div class="col s2">
                    <a href="javascript:void(0)" class="secondary-content  btn btn-floating" ng-class="blue">
                      <i class="material-icons" >play_circle_filled</i>
                    </a>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </li>
      </ul>

    </div>

    <video id="videoModal" class="responsive-video modal" controls src="{{ep.video}}">
    </video>

    <div class="fixed-action-btn hide" id="closeVideoModal">
      <a class="btn-floating btn-large red" ng-click="close_video_modal()">
        <i class="large material-icons">close</i>
      </a>
    </div>

</div>