<div class="blue" id="login-vew">
  <div class="container">
    <div class="row">
      <div class="valign-wrapper login-form-container hide">
        <form class="col s10 m6 offset-s1 offset-m3 white-text transparent lighten-1 login-form valign">
          <div class="row">
            <div class="input-field col s12 m10 offset-m1">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m10 offset-m1">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row center">
              <button class="btn waves-effect waves-light white blue-text" type="submit" name="action" ng-click="login()">ENTRAR
                <i class="material-icons right">send</i>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>